/* import fonts */

/* Lexend Deca */
@font-face {
  font-family: 'Lexend Deca';
  src: url("../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf") format('TrueType');
}

/* Big Shoulders Display */
@font-face {
  font-family: 'Big Shoulders Display';
  src: url("../fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf") format('TrueType');
}

$primary-ff: 'Lexend Deca', sans-serif;
$secondary-ff: 'Big Shoulders Display', cursive;
